.header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 27px;
  align-items: center;
  position: fixed;
  width: 100%;
  left: 0px;
  padding: 10px 20px 10px 20px;
  background-color:#fcfcfc;
  height: 70px;
  top: 35px;
  z-index: 3;
}

.header__title {
  font-size: 23px;
  font-weight: 600;
}

.header .header__icon {
  font-size: 20px;
  margin-left: 20px;
  cursor: pointer;
}

.header .header__header-column {
  display: flex;
  align-items: center;
}

.header .header__back-btn {
  font-size: 20px;
  margin-right: 10px;
}
